body {
    text-align: center;
}

fieldset {
    margin: 0 auto;
    width: 60vw;
    max-width: 600px;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

h2 {
    font-size: 25px;
    margin: 5px;
    font-weight: 400;
}

h3 {
    font-size: 23px;
    margin: 5px;
    font-weight: 400;
}

input {
    border: none;
    border-bottom: 2px solid black;
    width: 35vw;
    max-width: 400px;
    margin: 3vh 0;
}

.double_row input {
    width: 15vw;
    max-width: 180px;
}

.double_row input:nth-child(2) {
    margin-left: 2vw;
}

input:focus {
    outline: none;
}

button {
    border: none;
    border-bottom: 2px solid black;
    background-color: white;
    font-size: 14px;
    width: 80px;
    cursor: pointer;
}

.message {
    color: red;
}

header a:nth-child(1) {
    float: left;
}

header a:nth-child(2) {
    float: right;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    /* ボタン間のスペース */
}

.button {
    margin-bottom: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 15vw;
    max-width: 175px;
    height: 10vw;
    background-color: #e0e0e0;
    border: 2px solid #000;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #d0d0d0;
}

.button img {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}