

main{
       margin-top: 50px;
        font-size: 20px;
    }
    .home-link{
        font-size: 20px;
        margin-top: 380px;
        text-decoration: underline; 
    
    }
    
    .home-link a:hover {
        opacity: 0.7;
    }