

header img {
    
    width: 20%;
    margin: 1px;

}
.header-left {  
    float: left;
    text-align: left;
    padding: 2vw;
    width: 30%;
   
   
}
.header-left a {
    display: inline;
   
}

main{
    margin-top: 20px;
     font-size: 20px;
 }