header a {
    color: black;
    text-decoration: none;
    font-size: x-large;
    padding: 1vw;
}

header a:hover {
    color: blue;
}

header a:visited {
    color: black;
}

header img {
    width: 100%;
}

header a:nth-child(1) {
    float: left;
}

header a:nth-child(2) {
    float: right;
}

main {
    text-align: center;
    width: 0, auto;
}

main h1 {
    margin: 3vh;
    font-size: 1.5vw;
}

main p {
    font-size: 1.5vw;
}

.container {
    margin-left: 42.5vw;
    text-align: center;
    width: 15vw;
}

.container h2 {
    text-align: left;
}

.container input[type="text"] {
    width: 15vw;
    text-align: left;
}

main form h2 {
    margin-top: 5vh;
}

#category_form {
    width: 26vw;
    height: 27vw;
    margin-left: 37vw;
    margin-top: 4vh;
    background-color: rgb(182, 182, 182);
}

#category_form h2 {
    font-size: 1.5vw;
    margin: 0vw;
    padding: 0.5vw;
}


#category {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 26vw;
    height: auto;
}

#category button {
    background-color: rgb(182, 182, 182);
    border: none;
}

#category img {
    width: 10vw;
    height: auto;
    margin: 0.7vw;
}

#category button:hover {
    background-color: rgb(108, 108, 108);
}

footer {
    height: 5vh;
}

.space {
    height: 15vh;
}

main fieldset {
    width: 70vw;
    margin-left: 15vw;
    text-align: center;
}

main fieldset fieldset {
    margin: 0vw
}

.header_button a:nth-child(1) {
    float: left;
    width: 10vw;
    height: 10vw;
}

.header_button a:nth-child(2) {
    float: right;
    width: 5vw;
    height: 10vw;
}