
body {
    margin-bottom: 80px;
    font-size: 15px;
}

input[type="search"] {
    width: 20vw;
    margin: 100px ;
    outline: black;

}

input[type="email"] {
    border-bottom: 2px solid black;
    text-align: left; 
    font-size: 15px;
    margin-top: 45px;
   margin-bottom: 10px;
    width: 25%;    
    
}
input[type="password"] {
    text-align: left;
    font-size: 15px;
    border-bottom: 2px solid black;
    margin: 20px;
    width: 25%;
    
}

 header {
    background-color: rgb(71, 71, 232);
    height: 15vh;
    line-height: 15vh;
    text-align: left;
 }

 .header-left{
    margin-left: 5vw;
    font-weight: bold;
    font-size: 2.5vw;

 }

 .header-right{
    font-weight: bold;
    font-size: 2.5vw;
    text-align: center;
    margin-left: 33.75vw;
 }

.forms{
    flex: 4;
    margin-top: 25vh;
}

.form{
    text-align: center;
    display: flex;
}


nav {
    flex: 1;
    height: 100vh;
    background-color: rgb(224, 225, 236);
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 0);
}
.user{
    padding: 15px;
    font-size: 25px;
    background-color: rgb(127, 128, 139);

}
.item-link{
    padding: 10px;
    font-size: 25px;

}
.admin-link{
    padding: 10px;
    font-size: 25px;

}
.logout-link{
    margin: 10px;
    margin-top: 55vh;
    padding: 2px;
    text-align: left;


}
.logout-link a:hover {
    text-decoration: underline;
    opacity: 0.7;
 
}

.admin-link a:hover {
    text-decoration: underline;
    opacity: 0.7;
 
}
.item-link a:hover {
    text-decoration: underline; 
    opacity: 0.7;

}