
body {
    margin-bottom: 80px;
    font-size: 15px;
}




input[type="search"] {
    width: 20vw;
    margin: 100px ;
    outline: black;

}

input[type="email"] {
    border-bottom: 2px solid black;
    text-align: left; 
    font-size: 15px;
    margin-top: 45px;
   margin-bottom: 10px;
    width: 22%;  

    
    
}
input[type="password"] {
    text-align: left;
    font-size: 15px;
    border-bottom: 2px solid black;
    margin: 20px;
    width: 22%;
    

    
}
button {
    background-color: #21BE78; 
    color: white; 
    padding: 15px 20px; 
    border: none; 
    border-radius: 10px; 
    cursor: pointer; 
    font-size: 10px;
    margin: 20px;
    
       

}

.button-container {
    margin-left: 17vw;
}

button:hover {
    opacity: 0.7;
}

 
 header {
    background-color: rgb(71, 71, 232);
    height: 15vh;
    line-height: 15vh;
    text-align: left;
 }

 .header-left{
    margin-left: 5vw;
    font-weight: bold;
    font-size: 2.5vw;

 }

 .header-right{
    font-weight: bold;
    font-size: 2.5vw;
    text-align: center;
    margin-left: 33.75vw;
 }

.form{
    text-align: center;
    margin-top: 130px;
    
}
