<!DOCTYPE html>
<html lang="jp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/reset.css">
    <link rel="stylesheet" href="../style/g1_style.css">

    <title>ログイン</title>
</head>

<body>
    
    <header>
        <span class="header-left">
            FMJ
        </span>
            <span class="header-right">
            管理者
            </span>
    </header>
      

    <main>
        <nav>

        </nav>
        
        <div class="form">
        <form action="" method="post">
            <input type="email" name="mail_address" placeholder="ID"><br>
            <input type="password" name="pass_word" placeholder="パスワード" ><br>
            
            <div class="button-container">
                <button type="submit" class="login-button">ログイン</button>
            </div>            
        </form>
    </div>
        

    </main>
</body>

</html>

