

<!DOCTYPE html>
<html lang="jp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/reset.css">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/common_style.css">
    <link rel="stylesheet" href="../style/g4_style.css">


    <title>管理者一覧</title>
</head>

<body>
    
    <header>
        <span class="header-left">
            FMJ
        </span>
           
    </header>
      

    <main>

        <div class="form">
            <nav>
               
                <p class="item-link"><a href="">ユーザー管理</a></p>
                <hr>
                <div class="user">
                    <p>商品一覧</p>
                </div>
                <hr>
                <p class="admin-link"><a href="">管理者登録</a></p>
                <hr>
                <p class="logout-link"><a href="">ログアウト</a></p>
        
                   
        
            </nav>
            <div class="forms">
               <input type="search" name="search" placeholder="名前検索">
               <button>
                商品登録
               </button>
               <button>
                削除
            </button> 
            </div>
        </form>
    </div>


    </main>

</body>

</html>

