<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/reset.css">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/common_style.css">
    <link rel="stylesheet" href="../style/g6_style.css">
    <title>管理者一覧</title>
</head>

<body>
    <header>
        <span class="header-left">FMJ</span>
    </header>

    <main>
        <div class="form">
            <nav>
                <p class="item-link">
                    <a href="">ユーザー管理</a>
                </p>
                <hr>
                <div class="user">
                    <p>商品一覧</p>
                </div>
                <hr>
                <p class="admin-link">
                    <a href="">管理者登録</a>
                </p>
                <hr>
                <p class="logout-link">
                    <a href="">ログアウト</a>
                </p>
            </nav>

            <div class="forms">
                <div class="file-upload">
                    <input type="file">
                </div>
                <div class="form-group">
                    <p style="margin-left:30vh; margin-top: -20vh;">商品名</p>
                    <textarea name="item_name" rows="5" cols="40"></textarea>
                </div>
                <div class="form-group">
                    <p style="margin-left:-140vh; margin-top: 15vh;">商品説明</p>

                    <textarea name="item_explain" rows="10" cols="50"></textarea>
                </div>
                
                <div class="form-group">
                    <p style="margin-left:30vh; margin-top: -40vh;">値段</p>
                    <input type="text" name="price"> 円
                </div>
                <p style="margin-left: 40vh; margin-top: 10vh;">カテゴリー</p>
                
                <form>
                   
                    <input type="radio" name="category" value="直送">直送<br>
                    <input type="radio" name="category" value="名物">名物<br>
                    <input type="radio" name="category" value="旬物">旬物<br>
                    <input type="radio" name="category" value="その他">その他<br>
               
                </form>
                <p style="margin-left:35vh; margin-top: 5vh;">初期在庫</p>


                <p class="browser_back">
                    <a href="">＞戻る</a>
                </p>

                <div class="button-container">
                    <button type="submit" class="update">登録</button>
                </div>
            </div>
        </div>
    </main>
</body>

</html>
