<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/reset.css">
    <link rel="stylesheet" href="../style/common_style.css">
    <link rel="stylesheet" href="../style/g10_style.css">

    <title>購入確認</title>
</head>
<body>
    <header>
        <div class="header-left">
            <a href="G3ホーム"><img src="../images/title.png" alt="FMJ"></a>   
        </div>
    </header>
    <hr>
    <main>
        <p>購入品</p>
        
    <form action="address" method="post">
    <p>住所情報</p>
    <input type="name" name="last_name" placeholder="姓">
        <input type="name" name="first_name" placeholder="名"><br>

        <input type="name" name="last_kana" placeholder="セイ">
        <input type="name" name="first_kana" placeholder="メイ"><br>

        <input type="address" name="zip_code" placeholder="郵便番号"><br>
        <input type="address" name="address_line1" placeholder="都道府県市町村区"><br>
        <input type="address" name="address_line2" placeholder="番地"><br>
        <input type="address" name="mansion" placeholder="マンション部屋番号"><br>

       <p>予定日</p>
    <div class="button-container">
        <button type="submit" class="decision">確定</button>
    </div>
    </form>
    </main>
</body>
</html>