<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/reset.css">
    <link rel="stylesheet" href="../style/common_style.css">
    <link rel="stylesheet" href="../style/g12_style.css">

    <title>購入完了</title>
</head>
<body>
    <header>
        <header>
            <img src="../images/title.png" alt="FMJ">
        </header>
    </header>
   
    <main>
    <p>ご利用いただきありがとうございます</p>
    <p>またのご利用お待ちしております</p>
    <p class="home-link"><a href="">ホームに戻る</a></p>
</main>
</body>
</html>