<!DOCTYPE html>
<html lang="jp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="../style/reset.css">
    <link rel="stylesheet" href="../style/common_style.css"> 
    <title>新規登録画面</title>
</head>

<body>
<header>
    <img src="../images/title.png" alt="FMJ">
</header>
<main>
   
    <form action="sign" method="post">
     <p>ログイン情報</p>
     <input type="emailtwo" name="mail_address" placeholder="メールアドレス"><br>
     <input type="emailtwo" name="mail_address_check" placeholder="メールアドレス（確認）"><br>
     <input type="passwordtwo" name="password" placeholder="パスワード"><br>
     <input type="passwordtwo" name="password_check" placeholder="パスワード（確認）"><br>
    </form>
    <form action="sign" method="post">
        <p>住所</p>

        <input type="name" name="name" placeholder="姓">
        <input type="name" name="name" placeholder="名"><br>

        <input type="name" name="name" placeholder="セイ">
        <input type="name" name="name" placeholder="メイ"><br>

        <input type="address" name="address" placeholder="郵便番号"><br>

        <input type="address" name="addresstwo" placeholder="都道府県市町村区"><br>
        <input type="address" name="addressthree" placeholder="番地"><br>
        <input type="address" name="addressfour" placeholder="マンション部屋番号"><br>

    </form>








     <button>
        登録
     </button>
   

   
</main>
</body>

</html>
