<!DOCTYPE html>
<html lang="jp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/common_style.css">
    <link rel="stylesheet" href="../style/g2_style.css">
    <title>新規登録画面</title>
</head>

<body>
<header>
    <img src="../images/title.png" alt="FMJ">
</header>
<main>
    <fieldset>
    <form action="g3_home_view_html" method="post" id="signup_form">
        <p>ログイン情報</p>
        <input type="email" name="mail_address" id="mail_address" placeholder="メールアドレス" maxlength="255" required><br>
        <input type="email" name="mail_address_check" id="mail_address_check" placeholder="メールアドレス（確認）" required><br>
        <div id="email_validation" style="color: red;"></div> <!-- エラーメッセージを表示する場所 -->

        <input type="password" name="password" id="password" placeholder="パスワード" maxlength="255" required><br>
        <input type="password" name="password_check" id="password_check" placeholder="パスワード（確認）" required><br>
        <div id="password_validation" style="color: red;"></div> <!-- エラーメッセージを表示する場所 -->
    </fieldset>

    <fieldset>
        <p>住所</p>
        <input type="text" name="last_name" placeholder="姓" required>
        <input type="text" name="first_name" placeholder="名" required><br>

        <input type="text" name="last_kana" placeholder="セイ" required>
        <input type="text" name="first_kana" placeholder="メイ" required><br>

        <input type="text" name="zip_code" placeholder="例: 123-4567" pattern="^\d{3}-\d{4}$" required><br>

        <input type="text" name="address_line1" placeholder="都道府県市町村区" required><br>
        <input type="text" name="address_line2" placeholder="番地" required><br>
        <input type="text" name="mansion" placeholder="マンション部屋番号"><br><br>
    </fieldset>

        <input type="submit" value="登録">
    </form>
</main>

<!-- 外部JavaScriptファイルを読み込む -->
<script src="../script/input_check.js"></script>
</body>

</html>
