<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/reset.css">
    <link rel="stylesheet" href="../style/common_style.css">
    <link rel="stylesheet" href="../style/g3_style.css">
    <title>メインページ</title>
</head>
<body>
    <header>
        <div class="header-left">
            <a href="G3ホーム"><img src="../images/full_title.png" alt="FMJ"></a>  
            
            </div>
            <div class="header-right">
       <a href="cart"><img src="../images/cart.png" alt="cart"></a> 
         </div>
    </header>
    <main>
    <a href="header"><img src="../images/header.png" alt="画像"></a>
    
    コンセプト<br>
    福岡の魅力である、美味しい食べものを<br>
    全国の方に知ってもらう！<br>
    検索<br>
    <form action="#" method="get">
        <input type="search" name="query" placeholder="例：もつ鍋、あまおう苺　　　　　🔍">
    </form>
    </main>
</body>
</html>