<!DOCTYPE html>
<html lang="jp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="../style/reset.css">
    <link rel="stylesheet" href="../style/common_style.css"> 
    <link rel="stylesheet" href="../style/g4_style.css"> 

    <title>マイページ画面</title>
</head>

<body>
<header>
    
    <div class="home_link">
        <a href="home.html">ホーム</a>
    </div>
    <div class="logout_link">
        <a href="logout.html">ログアウト</a>
    </div>
    <img src="../images/title.png" alt="FMJ">
    

</header>
<main>
   <p>マイページ</p>
    <form action="sign" method="post">
        <p>ログイン情報</p>
     <input type="emailtwo" name="mail_address" placeholder="メールアドレス"><br>
    
    </form>
    <form action="sign" method="post">
        <p>住所</p>

        <input type="name" name="name" placeholder="姓">
        <input type="name" name="name" placeholder="名"><br>

        <input type="name" name="name" placeholder="セイ">
        <input type="name" name="name" placeholder="メイ"><br>

        <input type="address" name="address" placeholder="郵便番号"><br>

        <input type="address" name="addresstwo" placeholder="都道府県市町村区"><br>
        <input type="address" name="addressthree" placeholder="番地"><br>
        <input type="address" name="addressfour" placeholder="マンション部屋番号"><br>

    </form>




   

   
</main>
</body>

</html>
