<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="../style/reset.css">
    <link rel="stylesheet" href="../style/style.css"> -->
  <title>Document</title>
  <body> 
    <p><a href="">ホームに戻る</a></p>
    <p><a href="">ログアウト</a></p>
    <header>
        <img src="../images/title.png" alt="FMJ">
    </header>
<main>
<p>マイページ</p>
<form action="" method="post">
    <p>ログイン情報</p>
    <input type="email" name="mail_address" placeholder="メールアドレス"><br>
<p>住所情報</p>
<input type="name" name="name" placeholder="姓">
        <input type="name" name="names" placeholder="名"><br>

        <input type="name" name="name" placeholder="セイ">
        <input type="name" name="name" placeholder="メイ"><br>

        <input type="address" name="address" placeholder="郵便番号"><br>
        <input type="address" name="addresstwo" placeholder="都道府県市町村区"><br>
        <input type="address" name="addressthree" placeholder="番地"><br>
        <input type="address" name="addressfour" placeholder="マンション部屋番号"><br>
        <p><a href="">ユーザー情報変更</a></p>
        <p><a href="">ウィッシュリスト</a></p>
        <p><a href="">レビュー履歴</a></p>
</form>
</main>
</head>
</body>
</html>