<!DOCTYPE html>
<html lang="jp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="../style/reset.css">
    <link rel="stylesheet" href="../style/common_style.css"> 
    <link rel="stylesheet" href="../style/g4_style.css"> 

    <title>マイページ画面</title>
</head>

<body>
<header>
    
    <div class="home_link">
        <a href="home.html">ホーム</a>
    </div>
    <div class="logout_link">
        <a href="logout.html">ログアウト</a>
    </div>
    <img src="../images/title.png" alt="FMJ">
    

</header>
<main>
   <p>マイページ</p>
    <form action="sign" method="post">
        <p>ログイン情報</p>
     <input type="email" name="mail_address" readonly><br>
    
        <p>住所</p>

        <input type="text" name="last_name" readonly>
        <input type="text" name="first_name" readonly><br>

        <input type="text" name="last_kana" readonly>
        <input type="text" name="first_kana" readonly><br>

        <input type="text" name="post_code" readonly><br>

        <input type="text" name="address_line1" readonly><br>
        <input type="text" name="address_line2" readonly><br>
        <input type="text" name="address_line3" readonly><br>

    </form>
</main>
<footer> <p><a href="">ユーザー情報変更</a></p>
    <p><a href="">ウィッシュリスト</a></p>
    <p><a href="">レビュー履歴</a></p>
</footer>
</body>

</html>
