<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/reset.css">
    <link rel="stylesheet" href="../style/style.css">
    <title>レビュー履歴</title>
</head>
<body>
    <header>
        <div class="header-left">
            <a href="G3ホーム"><img src="../images/title.png" alt="タイトル画像"></a>
            
        </div>
        <div class="header-right">
            <a href="G8カート"><img src="../images/cart.png" alt="カート画像"></a>
        </div>
    </header>
    <hr>
   
    <main>
        <h1>レビュー</h1>
<!-- 
    echo '<form method="post" action="g9_buy_view.html">
        <button type="submit">削除</button>';


foreach ($review_result as $row) {
    $id = htmlspecialchars($row['review_id']);
    $photograph = htmlspecialchars($row['photograph']);
    $name = htmlspecialchars($row['merchandise_name']);
    $rating = htmlspecialchars($row['rating']);
    $comment = htmlspecialchars($row['comment']);
    $date = htmlspecialchars($row['date']);

    // 商品情報の表示部分（HTMLを組み立て）
    echo
    '<input type="checkbox" name="review_id[]" value="' . $id . '">
    <fieldset>
            <div class="row-item1">
                <img src="photograph_files/' . $photograph . '" width="200" alt="' . $name . '">
            </div>

            <div class="row-item2">
                <div class="col-item1">
                    ' . $name . '
                </div>

                <div class="col-item2">
                    ✰ ' . $rating . '
                    ' . $comment . '
                </div>

                <div class="col-item3">
                    ' . $date . '
                </div>
            </div>
        </fieldset>';
}
echo '</form>'; -->

    </main>
    <footer></footer>
</body>

</html>
