<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/reset.css">
    <link rel="stylesheet" href="../style/style.css">
    <title>レビュー履歴</title>
</head>
<body>
    <header>
        <div class="header-left">
            <a href="G3ホーム"><img src="../images/title.png" alt="タイトル画像"></a>
            
        </div>
        <div class="header-right">
            <a href="G8カート"><img src="../images/cart.png" alt="カート画像"></a>
        </div>
    </header>
    <hr>

    <p>レビュー</p>
    <p><a href="">削除</a></p>



</body>
</html>