<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/reset.css">
    <link rel="stylesheet" href="../style/common_style.css">
    <link rel="stylesheet" href="../style/g7_style.css">

    <title>商品評細</title>
</head>
<body>
    
    <header>
        <div class="header-left">
            <a href="G3ホーム"><img src="../images/title.png" alt="タイトル画像"></a>
           
        </div>
        <div class="header-right">
            <a href="G8カート"><img src="../images/cart.png" alt="カート画像"></a>
        </div>
    </header>
   
    <hr>
    <main>
    <form action="#" method="get">
        <input type="search" name="query" placeholder="検索:いちご">
    </form>
    <p class="buy-link"><a href="">今すぐ買う</a></p>
    <p class="cart-link"><a href="">カゴに入れる</a></p>

    <textarea name="review" class="textarea" rows="7" cols="35"></textarea>

    <div class="button-container">
        <button type="submit" class="write-button">書く</button>
    </div>
    
    </main>
</body>
</html>