<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/reset.css">
    <link rel="stylesheet" href="../style/style.css">
    <title>商品詳細</title>
</head>
<body>
    
    <header>
        <div class="header-left">
            <a href="G3ホーム"><img src="../images/title.png" alt="タイトル画像"></a>
            <form action="#" method="get">
                <input type="search" name="query" placeholder="検索:いちご">
            </form>
        </div>
        <div class="header-right">
            <a href="G8カート"><img src="../images/cart.png" alt="カート画像"></a>
        </div>
    </header>
    <hr>
    <p><a href="">今すぐ買う</a></p>
    <p><a href="">カゴに入れる</a></p>

    <p><a href="">書く</a></p>

</body>
</html>