<?php
require '../server/f0_connect_database.php';
    if($_SERVER["REQUEST_NETHOO"]=="POST"){

        $pdo = connect_database();
        $stmt = $pdo->prepare('DELETE FROM cart WHERE cart_id=?');
        $stmt->execute([$cart_id]);
        $pdo=NULL;
    }
?>

<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/reset.css">
    <link rel="stylesheet" href="../style/common_style.css">
    <link rel="stylesheet" href="../style/g8_style.css">


    <title>カート</title>
</head>
<body>
    <header>
        <div class="header-left">
            <a href="G3ホーム"><img src="../images/title.png" alt="FMJ"></a>   
        </div>
    </header>
    <hr>
    <main>
    <P>商品</P>
    <button>
        削除
    </button>
    <p class="buy-check-link"><a href="">購入確認画面へ</a></p>
    </main>
</body>
</html>